<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tesla</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwGyYBrbiWDyug2ruIyVbAUk6LqTd7y6haDuqExRI8S1L2ruoprZIruOl0JG9cz8hmT5kLP8ZCrs+hgwvG2ICDqg==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.14">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <org.jenkinsci.plugins.saml.user.LoginDetailsProperty plugin="saml@1.0.0-SNAPSHOT">
      <createTimestamp>1493844529048</createTimestamp>
      <lastLoginTimestamp>1501768171339</lastLoginTimestamp>
      <loginCount>45</loginCount>
    </org.jenkinsci.plugins.saml.user.LoginDetailsProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>developer</string>
        <string>browser</string>
        <string>role1</string>
        <string>role2</string>
        <string>role3</string>
        <string>role4</string>
        <string>role5</string>
        <string>role6</string>
        <string>role7</string>
        <string>role8</string>
        <string>role9</string>
        <string>role10</string>
        <string>role11</string>
        <string>role12</string>
        <string>role13</string>
        <string>role14</string>
        <string>role15</string>
        <string>role16</string>
        <string>role17</string>
        <string>role18</string>
        <string>role19</string>
        <string>role20</string>
        <string>role21</string>
        <string>role22</string>
        <string>role23</string>
        <string>role24</string>
        <string>role25</string>
        <string>role26</string>
        <string>role27</string>
        <string>role28</string>
        <string>role29</string>
        <string>role30</string>
        <string>role31</string>
        <string>role32</string>
        <string>role33</string>
        <string>role34</string>
        <string>role35</string>
        <string>role36</string>
        <string>role37</string>
        <string>role38</string>
        <string>role39</string>
        <string>role40</string>
        <string>role41</string>
        <string>role42</string>
        <string>role43</string>
        <string>role44</string>
        <string>role45</string>
        <string>role46</string>
        <string>role47</string>
        <string>role48</string>
        <string>role49</string>
        <string>role50</string>
        <string>role51</string>
        <string>role52</string>
        <string>role53</string>
        <string>role54</string>
        <string>role55</string>
        <string>role56</string>
        <string>role57</string>
        <string>role58</string>
        <string>role59</string>
        <string>role60</string>
        <string>role61</string>
        <string>role62</string>
        <string>role63</string>
        <string>role64</string>
        <string>role65</string>
        <string>role66</string>
        <string>role67</string>
        <string>role68</string>
        <string>role69</string>
        <string>role70</string>
        <string>role71</string>
        <string>role72</string>
        <string>role73</string>
        <string>role74</string>
        <string>role75</string>
        <string>role76</string>
        <string>role77</string>
        <string>role78</string>
        <string>role79</string>
        <string>role80</string>
        <string>role81</string>
        <string>role82</string>
        <string>role83</string>
        <string>role84</string>
        <string>role85</string>
        <string>role86</string>
        <string>role87</string>
        <string>role88</string>
        <string>role89</string>
        <string>role90</string>
        <string>role91</string>
        <string>role92</string>
        <string>role93</string>
        <string>role94</string>
        <string>role95</string>
        <string>role96</string>
        <string>role97</string>
        <string>role98</string>
        <string>role99</string>
        <string>role100</string>
        <string>role101</string>
        <string>role102</string>
        <string>role103</string>
        <string>role104</string>
        <string>role105</string>
        <string>role106</string>
        <string>role107</string>
        <string>role108</string>
        <string>role109</string>
        <string>role110</string>
        <string>role111</string>
        <string>role112</string>
        <string>role113</string>
        <string>role114</string>
        <string>role115</string>
        <string>role116</string>
        <string>role117</string>
        <string>role118</string>
        <string>role119</string>
        <string>role120</string>
        <string>role121</string>
        <string>role122</string>
        <string>role123</string>
        <string>role124</string>
        <string>role125</string>
        <string>role126</string>
        <string>role127</string>
        <string>role128</string>
        <string>role129</string>
        <string>role130</string>
        <string>role131</string>
        <string>role132</string>
        <string>role133</string>
        <string>role134</string>
        <string>role135</string>
        <string>role136</string>
        <string>role137</string>
        <string>role138</string>
        <string>role139</string>
        <string>role140</string>
        <string>role141</string>
        <string>role142</string>
        <string>role143</string>
        <string>role144</string>
        <string>role145</string>
        <string>role146</string>
        <string>role147</string>
        <string>role148</string>
        <string>role149</string>
        <string>role150</string>
        <string>role151</string>
        <string>role152</string>
        <string>role153</string>
        <string>role154</string>
        <string>role155</string>
        <string>role156</string>
        <string>role157</string>
        <string>role158</string>
        <string>role159</string>
        <string>role160</string>
        <string>role161</string>
        <string>role162</string>
        <string>role163</string>
        <string>role164</string>
        <string>role165</string>
        <string>role166</string>
        <string>role167</string>
        <string>role168</string>
        <string>role169</string>
        <string>role170</string>
        <string>role171</string>
        <string>role172</string>
        <string>role173</string>
        <string>role174</string>
        <string>role175</string>
        <string>role176</string>
        <string>role177</string>
        <string>role178</string>
        <string>role179</string>
        <string>role180</string>
        <string>role181</string>
        <string>role182</string>
        <string>role183</string>
        <string>role184</string>
        <string>role185</string>
        <string>role186</string>
        <string>role187</string>
        <string>role188</string>
        <string>role189</string>
        <string>role190</string>
        <string>role191</string>
        <string>role192</string>
        <string>role193</string>
        <string>role194</string>
        <string>role195</string>
        <string>role196</string>
        <string>role197</string>
        <string>role198</string>
        <string>role199</string>
        <string>role200</string>
        <string>role201</string>
        <string>role202</string>
        <string>role203</string>
        <string>role204</string>
        <string>role205</string>
        <string>role206</string>
        <string>role207</string>
        <string>role208</string>
        <string>role209</string>
        <string>role210</string>
        <string>role211</string>
        <string>role212</string>
        <string>role213</string>
        <string>role214</string>
        <string>role215</string>
        <string>role216</string>
        <string>role217</string>
        <string>role218</string>
        <string>role219</string>
        <string>role220</string>
        <string>role221</string>
        <string>role222</string>
        <string>role223</string>
        <string>role224</string>
        <string>role225</string>
        <string>role226</string>
        <string>role227</string>
        <string>role228</string>
        <string>role229</string>
        <string>role230</string>
        <string>role231</string>
        <string>role232</string>
        <string>role233</string>
        <string>role234</string>
        <string>role235</string>
        <string>role236</string>
        <string>role237</string>
        <string>role238</string>
        <string>role239</string>
        <string>role240</string>
        <string>role241</string>
        <string>role242</string>
        <string>role243</string>
        <string>role244</string>
        <string>role245</string>
        <string>role246</string>
        <string>role247</string>
        <string>role248</string>
        <string>role249</string>
        <string>role250</string>
        <string>role251</string>
        <string>role252</string>
        <string>role253</string>
        <string>role254</string>
        <string>role255</string>
        <string>role256</string>
        <string>role257</string>
        <string>role258</string>
        <string>role259</string>
        <string>role260</string>
        <string>role261</string>
        <string>role262</string>
        <string>role263</string>
        <string>role264</string>
        <string>role265</string>
        <string>role266</string>
        <string>role267</string>
        <string>role268</string>
        <string>role269</string>
        <string>role270</string>
        <string>role271</string>
        <string>role272</string>
        <string>role273</string>
        <string>role274</string>
        <string>role275</string>
        <string>role276</string>
        <string>role277</string>
        <string>role278</string>
        <string>role279</string>
        <string>role280</string>
        <string>role281</string>
        <string>role282</string>
        <string>role283</string>
        <string>role284</string>
        <string>role285</string>
        <string>role286</string>
        <string>role287</string>
        <string>role288</string>
        <string>role289</string>
        <string>role290</string>
        <string>role291</string>
        <string>role292</string>
        <string>role293</string>
        <string>role294</string>
        <string>role295</string>
        <string>role296</string>
        <string>role297</string>
        <string>role298</string>
        <string>role299</string>
        <string>role300</string>
        <string>role301</string>
        <string>role302</string>
        <string>role303</string>
        <string>role304</string>
        <string>role305</string>
        <string>role306</string>
        <string>role307</string>
        <string>role308</string>
        <string>role309</string>
        <string>role310</string>
        <string>role311</string>
        <string>role312</string>
        <string>role313</string>
        <string>role314</string>
        <string>role315</string>
        <string>role316</string>
        <string>role317</string>
        <string>role318</string>
        <string>role319</string>
        <string>role320</string>
        <string>role321</string>
        <string>role322</string>
        <string>role323</string>
        <string>role324</string>
        <string>role325</string>
        <string>role326</string>
        <string>role327</string>
        <string>role328</string>
        <string>role329</string>
        <string>role330</string>
        <string>role331</string>
        <string>role332</string>
        <string>role333</string>
        <string>role334</string>
        <string>role335</string>
        <string>role336</string>
        <string>role337</string>
        <string>role338</string>
        <string>role339</string>
        <string>role340</string>
        <string>role341</string>
        <string>role342</string>
        <string>role343</string>
        <string>role344</string>
        <string>role345</string>
        <string>role346</string>
        <string>role347</string>
        <string>role348</string>
        <string>role349</string>
        <string>role350</string>
        <string>role351</string>
        <string>role352</string>
        <string>role353</string>
        <string>role354</string>
        <string>role355</string>
        <string>role356</string>
        <string>role357</string>
        <string>role358</string>
        <string>role359</string>
        <string>role360</string>
        <string>role361</string>
        <string>role362</string>
        <string>role363</string>
        <string>role364</string>
        <string>role365</string>
        <string>role366</string>
        <string>role367</string>
        <string>role368</string>
        <string>role369</string>
        <string>role370</string>
        <string>role371</string>
        <string>role372</string>
        <string>role373</string>
        <string>role374</string>
        <string>role375</string>
        <string>role376</string>
        <string>role377</string>
        <string>role378</string>
        <string>role379</string>
        <string>role380</string>
        <string>role381</string>
        <string>role382</string>
        <string>role383</string>
        <string>role384</string>
        <string>role385</string>
        <string>role386</string>
        <string>role387</string>
        <string>role388</string>
        <string>role389</string>
        <string>role390</string>
        <string>role391</string>
        <string>role392</string>
        <string>role393</string>
        <string>role394</string>
        <string>role395</string>
        <string>role396</string>
        <string>role397</string>
        <string>role398</string>
        <string>role399</string>
        <string>role400</string>
        <string>role401</string>
        <string>role402</string>
        <string>role403</string>
        <string>role404</string>
        <string>role405</string>
        <string>role406</string>
        <string>role407</string>
        <string>role408</string>
        <string>role409</string>
        <string>role410</string>
        <string>role411</string>
        <string>role412</string>
        <string>role413</string>
        <string>role414</string>
        <string>role415</string>
        <string>role416</string>
        <string>role417</string>
        <string>role418</string>
        <string>role419</string>
        <string>role420</string>
        <string>role421</string>
        <string>role422</string>
        <string>role423</string>
        <string>role424</string>
        <string>role425</string>
        <string>role426</string>
        <string>role427</string>
        <string>role428</string>
        <string>role429</string>
        <string>role430</string>
        <string>role431</string>
        <string>role432</string>
        <string>role433</string>
        <string>role434</string>
        <string>role435</string>
        <string>role436</string>
        <string>role437</string>
        <string>role438</string>
        <string>role439</string>
        <string>role440</string>
        <string>role441</string>
        <string>role442</string>
        <string>role443</string>
        <string>role444</string>
        <string>role445</string>
        <string>role446</string>
        <string>role447</string>
        <string>role448</string>
        <string>role449</string>
        <string>role450</string>
        <string>role451</string>
        <string>role452</string>
        <string>role453</string>
        <string>role454</string>
        <string>role455</string>
        <string>role456</string>
        <string>role457</string>
        <string>role458</string>
        <string>role459</string>
        <string>role460</string>
        <string>role461</string>
        <string>role462</string>
        <string>role463</string>
        <string>role464</string>
        <string>role465</string>
        <string>role466</string>
        <string>role467</string>
        <string>role468</string>
        <string>role469</string>
        <string>role470</string>
        <string>role471</string>
        <string>role472</string>
        <string>role473</string>
        <string>role474</string>
        <string>role475</string>
        <string>role476</string>
        <string>role477</string>
        <string>role478</string>
        <string>role479</string>
        <string>role480</string>
        <string>role481</string>
        <string>role482</string>
        <string>role483</string>
        <string>role484</string>
        <string>role485</string>
        <string>role486</string>
        <string>role487</string>
        <string>role488</string>
        <string>role489</string>
        <string>role490</string>
        <string>role491</string>
        <string>role492</string>
        <string>role493</string>
        <string>role494</string>
        <string>role495</string>
        <string>role496</string>
        <string>role497</string>
        <string>role498</string>
        <string>role499</string>
        <string>role500</string>
      </roles>
      <timestamp>1493844529041</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>email1@example.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>